.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1128px;
    height: 300px;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 40px;
}

.gallery li {
    margin: 10px;
}

.gallery img {
    max-width: 100%;
    height: auto;
}
